//colors
$black: #000;
$white: #fff;
$violet: #9c69e2;
$violet-hover: #b17ff4;
$violet-light: #d6b9ff;
$purpure: #f063b8;
$yellow: #ffc84d;
$yellow-button: #eeaa12;
$yellow-hover: #ffbe2d;
$yellow-light: #fff3d7;
$yellow-shadow: #f5bd3f;
$dark-main: #212353;
$gray-main: #4b5d68;
$gray: #a9a0b6;

//size
$w-desktop: 993px;
$w-tablet: 768px;
$w-mobile: 425px;

//width
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;

//fonts
$f-Roboto: "Roboto", sans-serif;
