nav.header-nav
  ul._list 
    li._item
      a._link(href="#") About
    li._item 
      span._link.js-open-submenu Help
      .submenu.js-submenu
        ul._list
          li._item
            a._link(href="#") User Guide 
          li._item
            a._link(href="#") Contact Support
    li._item
      a._link(href="#") Features