.slider-container
  .swiper-container
    .slider.swiper-wrapper
      .swiper-slide
        .slider__item
          .slider__title First Feature
          .slider__description Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
          a.slider__link(href="#") Learn more
      .swiper-slide
        .slider__item
          .slider__title Second Feature
          .slider__description Each time she picked one she thought that she could see an even more beautiful one a little way off, and she ran after it, going further and further into the woods.
          a.slider__link(href="#") Learn more
      .swiper-slide
        .slider__item
          .slider__title Third Feature
          .slider__description The wolf pressed the latch, and the door opened. He stepped inside, went straight to the grandmother's bed, and ate her up.
          a.slider__link(href="#") Learn more
      .swiper-slide
        .slider__item.-new
          .slider__title Fourth Feature
          .slider__description Little Red Cap had run after the flowers. After she had gathered so many that she could not carry any more, she remembered her grandmother.
          a.slider__link(href="#") Learn more
  .slider__pagination