footer.footer
  ._container.container
    ._top-line
      ._logo
        a.logo.-white(href="#")
          span
          span
      ._menu
        nav.footer-nav
          ul._list
            li._item 
              a._link(href="#") About Us
            li._item
              a._link(href="#") Privacy Policy
    ._form
      form.footer-sign-up(action="")
        ._input
          input.input(type="email" placeholder="Enter your email")
        ._button
          button.button.--yellow.--s-size(type="submit") Sign Up Now