header.header
  ._container.container
    ._logo
      a.logo.-colored(href="#")
        span
        span
    ._menu
      button.burger.js-burger
        span
        span
        span
        span
      .menu.js-menu
        ._nav
          include ../blocks/_header-nav
        ._sign-up
          button.button.--violet.--m-size Sign up
  
    